// GRID
$grid-width: 114rem;

// COLORS
// #333 #555 #777 #999 #eee #f7f7f7

$color-1: #55c57a;
$color-1-light: #7ed56f;
$color-1-dark: #28b485;

$color-2-light: #ffb900;
$color-2-dark: #ff7730;

$color-3-light: #2998ff;
$color-3-dark: #5643fa;

$color-white: #fff;
$color-black: #000;
