.footer {
    background-color: #333;
    padding: 10rem 0 12rem 0;

    font-family: 'Lato';

    &__logo-box {
        width: 25rem;
        margin: 0 auto;
        margin-bottom: 8rem;

        border-radius: 3px;
        background-color: #555;
        padding: 1.5rem 1.8rem 0.5rem 1.8rem;
        box-shadow: 0 0 2.5px #fff;
    }

    &__logo {
        width: 100%;

        display: inline;

        transition: all 0.3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__container {
        width: $grid-width;
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15rem;

        @include width(1200) {
            width: 105rem;
            column-gap: 5rem;
        }

        @include width(1050) {
            width: 95rem;
            column-gap: 5rem;

            display: flex;
            flex-direction: column;
        }

        @include width(750) {
            width: 100%;
        }
    }

    &__links {
        border-top: 1px solid #777;

        @include width(1050) {
            width: fit-content;
            margin: 0 auto;
            padding: 0 2rem;
        }

        @include width(320) {
            padding: 0 1rem;
        }

        ul {
            margin: 0 auto;
            width: fit-content;
            padding: 0.5rem 1rem 0 1rem;
            list-style: none;
            display: flex;

            @include width(1050) {
                margin-bottom: 5rem;
            }
        }

        li:not(:last-child) {
            margin-right: 0.5rem;
        }

        a,
        a:link,
        a:visited {
            font-size: 1.4rem;
            color: #f7f7f7;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.33px;
            display: inline-block;
            padding: 0.5rem 0.5rem;

            transition: all 0.3s;

            &:hover,
            &:active {
                transform: scale(1.1) translateY(-1px);
                color: $color-1;
                box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
                border-radius: 5px;
            }
        }
    }

    &__box-right {
        border-top: 1px solid #777;
        text-align: center;

        @include width(1050) {
            width: fit-content;
            margin: 0 auto;
            padding: 0 3rem;
        }

        @include width(320) {
            padding: 0 2rem;
        }
    }

    &__copyright {
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        font-size: 1.5rem;
        color: #f7f7f7;
        letter-spacing: 0.33px;
    }
}
