.nav {
    position: fixed;
    top: 4.75rem;
    right: 5rem;
    z-index: 15;

    &__checkbox {
        display: none;
    }

    &__label {
        display: block;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 0 10px 2px rgba($color-black, 0.2);

        position: absolute;
        top: 0;
        right: 0;

        cursor: pointer;
        transition: all 0.2s;

        @include width(825) {
            width: 7rem;
            height: 7rem;
            top: -1rem;
        }
    }

    &__icon {
        display: block;
        width: 3rem;
        height: 0.25rem;
        background-color: #555;
        border-radius: 3px;

        &::selection {
            background-color: transparent;
        }

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        transition: transform 0.75s;

        @include width(825) {
            width: 3.7rem;
            height: 0.35rem;
        }

        &::after,
        &::before {
            content: '';
            display: block;
            width: 3rem;
            height: 0.25rem;
            background-color: #555;
            border-radius: 3px;
            position: absolute;
            transition: all 0.2s;

            @include width(825) {
                width: 3.7rem;
                height: 0.35rem;
            }
        }

        &::before {
            top: -0.8rem;

            @include width(825) {
                top: -1rem;
            }
        }

        &::after {
            top: 0.8rem;

            @include width(825) {
                top: 1rem;
                height: 0.39rem;
            }

            @include width(750) {
                top: 1rem;
                height: 0.35rem;
            }
        }
    }

    // &__label:hover &__icon::before {
    //     top: -0.9rem;
    // }

    // &__label:hover &__icon::after {
    //     top: 0.9rem;
    // }

    &__checkbox:checked ~ &__label {
        z-index: 30;
        width: 3rem;
        height: 3rem;
        box-shadow: 0 0 1px 2px rgba($color-black, 0.3);
        background-color: rgba(#111, 0.1);
    }

    &__checkbox:checked ~ &__label &__icon {
        background-color: transparent;
        z-index: 30;

        &::after,
        &::before {
            background-color: #111;
            width: 2rem;
            height: 0.2rem;

            top: 0.1rem;
            left: 0.45rem;

            @include width(825) {
                top: 0.2rem;
                left: 0.8rem;
            }
        }

        &::before {
            // transform: rotate(230deg);
            transform: rotate(134deg);
            top: 0;
            z-index: 30;
        }

        &::after {
            // transform: rotate(-230deg);
            transform: rotate(-135deg);
            top: 0;
            z-index: 30;
        }
    }

    &__background {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1rem;
        height: 1rem;
        z-index: -10;
        opacity: 0;
        cursor: pointer;
        transition: opacity 0.5s;
    }

    &__checkbox:checked ~ &__background {
        position: fixed;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        z-index: 20;

        background-color: rgba(0, 0, 0, 0.33);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        width: 100vw;
        height: 100vh;
        opacity: 1;
    }

    &__nav {
        width: 1rem;
        height: 1rem;
        transition: all 0.4s;
        border-radius: 10px;

        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: -10;

        // // // // // // // // // // // // //

        ul {
            list-style: none;

            display: none;
            opacity: 0;
            transition: opacity 0.25s ease;
            transition-delay: 0.4ss;

            width: 75%;
            margin: 0 auto;
            padding-top: 5rem;
        }

        li:not(:last-child) {
            margin-bottom: 0.4rem;
        }

        a,
        a:link,
        a:visited {
            display: inline-block;
            text-decoration: none;
            color: $color-1;
            // text-transform: uppercase;
            font-size: 2.5rem;
            border-bottom: 1px solid $color-1;

            width: 100%;
            padding: 0.8rem 1.5rem;

            // prettier-ignore
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-1 50%);
            background-size: 225%;
            transition: all 0.4s;

            &:hover {
                border-radius: 3px;
                background-position: 100%;
                color: $color-white;
                transform: translateX(0.5rem);
                border-bottom: 1px solid transparent;
            }
        }

        // // // // // // // // // // // // //
    }

    &__menu-text {
        font-weight: 500;
        font-size: 2rem;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        padding: 0rem 1rem;

        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }

    &__checkbox:checked ~ &__nav {
        width: 35rem;
        height: 38rem;
        border-radius: 10px;
        background-color: $color-white;
        box-shadow: 0 1rem 4rem 2px rgba(0, 0, 0, 0.2);
        top: -0.45rem;
        right: -0.53rem;
        z-index: 25;

        @include width(1050) {
            top: -0.55rem;
        }

        @include width(825) {
            top: -1.5rem;
        }

        @include width(600) {
            top: -2rem;
            right: -1rem;

            width: 45rem;
        }
    }
}
