.u-center-text { text-align: center !important; }


.u-margin-top-6rem { margin-top: 6rem !important; }
.u-margin-top-10rem { margin-top: 10rem !important; }


.u-margin-bottom-1-5rem {margin-bottom: 1.5rem !important;}
.u-margin-bottom-mediu { margin-bottom: 3rem !important; }
.u-margin-bottom-4rem { margin-bottom: 4rem !important; }
.u-margin-bottom-8rem {margin-bottom: 8rem !important; }


.u-skew-y-7deg { transform: skewY(7deg) !important; }
